article {
	width: 920px;
	height: 370px;
	background-color: white;
	padding: 20px;
}
article h1{
	font-size: 30px;
	margin-top: 40px;

}
article p{
	font-size: 15px;
}
article table td {
	width: 288px;
	text-align: justify-left;
	padding: 10px;
}
table{border-top: solid gray;}